# **Actividad 3**

**Paso 1:** Importar el archivo de datos

In [ ]:
#Importamos bibliotecas
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#Leemos el archivo de datos de la estación climatológica para crear un dataframe con la biblioteca Pandas
url = "https://raw.githubusercontent.com/TonyReyesM/Fisica-Computacional/master/Actividad%201/Datos%20diarios%203074.txt"
df = pd.read_csv(url)

In [ ]:
df

                        CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
0                            BASE DE DATOS CLIMATOLOGICA
1      DATOS DISPONIBLES EN LA BASE DE DATOS A MARZO ...
2                                       ESTACION  : 3074
3                               NOMBRE    : LA PAZ (DGE)
4                        ESTADO    : BAJA CALIFORNIA SUR
...                                                  ...
27186               28/12/2017  0      3.4    27.5   16
27187             29/12/2017  0      3      26.8   17.4
27188             30/12/2017  0      3      26     16.6
27189               31/12/2017  0      0.1    29.1   17
27190             --------------------------------------

[27191 rows x 1 columns]

**Paso 2:** Crear un dataframe que no contenga la información que no se necesita para el análisis de datos

In [ ]:
#Los datos comienzan en el renglon 19.
#El último renglón del archivo no tiene datos
#Los nombres de las 5 columnas son "Fecha", "Precip (mm)", "Evap (mm)", "Tmax (ºC)", "Tmin (ºC)"
#Creamos una lista de los nombres de las 5 columnas
columnas = ['Fecha','Precip(mm)','Evap(mm)','Tmax(ºC)','Tmin(ºC)']
#Creamos el nuevo dataframe sin los primeros 15 renglones ni el último renglón
clima = pd.read_csv(url, names=columnas, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')
#Visualizamos el dataframe creado
clima

            Fecha Precip(mm) Evap(mm) Tmax(ºC) Tmin(ºC)
0      01/01/1940          0      4.2       23       16
1      02/01/1940          0      5.1       23       16
2      03/01/1940          0      4.6     24.2     16.5
3      04/01/1940          0      4.2     23.6     16.4
4      05/01/1940          0      5.7     23.2     18.2
...           ...        ...      ...      ...      ...
27170  27/12/2017          0      4.6     29.2       15
27171  28/12/2017          0      3.4     27.5       16
27172  29/12/2017          0        3     26.8     17.4
27173  30/12/2017          0        3       26     16.6
27174  31/12/2017          0      0.1     29.1       17

[27175 rows x 5 columns]

**Paso 3:** Análisis de los contenidos del archivo de datos y cambio a valores numéricos

In [ ]:
#Exploramos el principio y el final del dataframe
print(clima.head(10))
print(clima.tail(10))

        Fecha Precip(mm) Evap(mm) Tmax(ºC) Tmin(ºC)
0  01/01/1940          0      4.2       23       16
1  02/01/1940          0      5.1       23       16
2  03/01/1940          0      4.6     24.2     16.5
3  04/01/1940          0      4.2     23.6     16.4
4  05/01/1940          0      5.7     23.2     18.2
5  06/01/1940          0      4.7     24.8       18
6  07/01/1940          0      6.2       21       16
7  08/01/1940          0      4.3       23     15.4
8  09/01/1940          0      5.3       23       15
9  10/01/1940          0      5.2     22.6     15.2
            Fecha Precip(mm) Evap(mm) Tmax(ºC) Tmin(ºC)
27165  22/12/2017          0      2.1     25.9     17.4
27166  23/12/2017          0      3.3     21.5     17.4
27167  24/12/2017          0      4.7     22.5       18
27168  25/12/2017          0      3.5     25.8     16.4
27169  26/12/2017          0      2.6     26.4     14.6
27170  27/12/2017          0      4.6     29.2       15
27171  28/12/2017          0      3.4     27.5       16
27172  29/12/2017          0        3     26.8     17.4
27173  30/12/2017          0        3       26     16.6
27174  31/12/2017          0      0.1     29.1       17

In [ ]:
#Analizamos las dimensiones del dataframe y vemos los renglones y las columnas respectivamente.
clima.shape

(27175, 5)

In [ ]:
#Revisamos la información del dataframe
clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27175 entries, 0 to 27174
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       27175 non-null  object
 1   Precip(mm)  27175 non-null  object
 2   Evap(mm)    27175 non-null  object
 3   Tmax(ºC)    27175 non-null  object
 4   Tmin(ºC)    27175 non-null  object
dtypes: object(5)
memory usage: 1.0+ MB

In [ ]:
#Creamos una copia del dataframe para trabajar con ella y no modificar el original
clima_cp0 = clima.copy()
clima_cp0.head()

        Fecha Precip(mm) Evap(mm) Tmax(ºC) Tmin(ºC)
0  01/01/1940          0      4.2       23       16
1  02/01/1940          0      5.1       23       16
2  03/01/1940          0      4.6     24.2     16.5
3  04/01/1940          0      4.2     23.6     16.4
4  05/01/1940          0      5.7     23.2     18.2

In [ ]:
#Remplazamos con un espacio en blanco los valores donde esté escrito "Nulo"
clima_cp1 = clima_cp0.replace(to_replace = 'Nulo',value = '', regex = True)

In [ ]:
#Convertimos a datos numéticos la información de las columnas de precipitación, evaporación, temperatura máxima, y temperatura mínina
#Utilizamos una iteración para cambiar los datos de cada columna de una por una
for i in columnas[1:]:
  clima_cp1[i] = pd.to_numeric(clima_cp[i], errors = 'coerce')

#Visualizamos los primeros datos del dataframe para verificar que se realizaron los cambios
clima_cp1.head()

        Fecha  Precip(mm)  Evap(mm)  Tmax(ºC)  Tmin(ºC)
0  01/01/1940         0.0       4.2      23.0      16.0
1  02/01/1940         0.0       5.1      23.0      16.0
2  03/01/1940         0.0       4.6      24.2      16.5
3  04/01/1940         0.0       4.2      23.6      16.4
4  05/01/1940         0.0       5.7      23.2      18.2

In [ ]:
#Revisamos la información que hay en el dataframe nuevo
clima_cp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27175 entries, 0 to 27174
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       27175 non-null  object
 1   Precip(mm)  26956 non-null  float64
 2   Evap(mm)    24242 non-null  float64
 3   Tmax(ºC)    27165 non-null  float64
 4   Tmin(ºC)    27166 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.0+ MB

In [ ]:
#Revisamos la cantidad de datos faltantes que hay en el archivo
clima_cp1.isnull().sum()

Fecha            0
Precip(mm)     219
Evap(mm)      2933
Tmax(ºC)        10
Tmin(ºC)         9
dtype: int64

In [ ]:
#Revisamos el principio y final del dataframe
print(clima_cp1.head())
print(clima_cp1.tail())

        Fecha  Precip(mm)  Evap(mm)  Tmax(ºC)  Tmin(ºC)
0  01/01/1940         0.0       4.2      23.0      16.0
1  02/01/1940         0.0       5.1      23.0      16.0
2  03/01/1940         0.0       4.6      24.2      16.5
3  04/01/1940         0.0       4.2      23.6      16.4
4  05/01/1940         0.0       5.7      23.2      18.2
            Fecha  Precip(mm)  Evap(mm)  Tmax(ºC)  Tmin(ºC)
27170  27/12/2017         0.0       4.6      29.2      15.0
27171  28/12/2017         0.0       3.4      27.5      16.0
27172  29/12/2017         0.0       3.0      26.8      17.4
27173  30/12/2017         0.0       3.0      26.0      16.6
27174  31/12/2017         0.0       0.1      29.1      17.0

In [ ]:
#Hacemos un análisis estadístico con 3 cifras significativas del dataframe para después interpretarlo
clima_cp1.describe().round(3)

       Precip(mm)   Evap(mm)   Tmax(ºC)   Tmin(ºC)
count   26956.000  24242.000  27165.000  27166.000
mean        0.474      5.922     30.715     17.367
std         4.230      2.764      5.503      5.420
min         0.000      0.100     15.000      2.000
25%         0.000      4.100     26.000     13.000
50%         0.000      5.800     31.000     17.000
75%         0.000      7.800     35.000     22.000
max       261.000     18.000     44.000     30.400

**Paso 4:** Manejo de variables de fecha y tiempo para la columna de fechas

In [ ]:
#Ahora cambiaremos la información de la columna de fechas para cambiarlos a un formato de fecha y tiempo que python reconozca
#Primero generamos una copia del dataframe por si hay necesidad de utilizarlo de nuevo
clima_cp2 = clima_cp1.copy()

In [ ]:
#Cambiamos los valores de la columna de fechas con el día al principio
clima_cp2['Fecha'] = pd.to_datetime(clima['Fecha'], dayfirst = True)
print(clima_cp2.head())

       Fecha  Precip(mm)  Evap(mm)  Tmax(ºC)  Tmin(ºC)
0 1940-01-01         0.0       4.2      23.0      16.0
1 1940-01-02         0.0       5.1      23.0      16.0
2 1940-01-03         0.0       4.6      24.2      16.5
3 1940-01-04         0.0       4.2      23.6      16.4
4 1940-01-05         0.0       5.7      23.2      18.2

In [ ]:
#Revisamos los tipos de variables que hay en cada columna
clima_cp2.dtypes

Fecha         datetime64[ns]
Precip(mm)           float64
Evap(mm)             float64
Tmax(ºC)             float64
Tmin(ºC)             float64
dtype: object

In [ ]:
#Creamos dos nuevas columnas para el año y el mes
clima_cp2['Año'] = clima_cp2['Fecha'].dt.year
clima_cp2['Mes'] = clima_cp2['Fecha'].dt.month

In [ ]:
#Revisamos el dataframe
print(clima_cp2.head())
print(clima_cp2.tail())

       Fecha  Precip(mm)  Evap(mm)  Tmax(ºC)  Tmin(ºC)   Año  Mes
0 1940-01-01         0.0       4.2      23.0      16.0  1940    1
1 1940-01-02         0.0       5.1      23.0      16.0  1940    1
2 1940-01-03         0.0       4.6      24.2      16.5  1940    1
3 1940-01-04         0.0       4.2      23.6      16.4  1940    1
4 1940-01-05         0.0       5.7      23.2      18.2  1940    1
           Fecha  Precip(mm)  Evap(mm)  Tmax(ºC)  Tmin(ºC)   Año  Mes
27170 2017-12-27         0.0       4.6      29.2      15.0  2017   12
27171 2017-12-28         0.0       3.4      27.5      16.0  2017   12
27172 2017-12-29         0.0       3.0      26.8      17.4  2017   12
27173 2017-12-30         0.0       3.0      26.0      16.6  2017   12
27174 2017-12-31         0.0       0.1      29.1      17.0  2017   12

In [ ]:
#Revisamos la información en las columnas de año y mes y que sean de valores enteros
clima_cp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27175 entries, 0 to 27174
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       27175 non-null  datetime64[ns]
 1   Precip(mm)  26956 non-null  float64
 2   Evap(mm)    24242 non-null  float64
 3   Tmax(ºC)    27165 non-null  float64
 4   Tmin(ºC)    27166 non-null  float64
 5   Año         27175 non-null  int64
 6   Mes         27175 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 1.5 MB